.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner-border {
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}